<div data-fls-Advantages class="Advantages">
   <h2>Переваги</h2>
   <div class="wrapper">
      <h3>Екологічно чистий район</h3>
      <p>Житловий комплекс «Заріччя » – унікальний проект, що дозволить своїм мешканцям проживати в гармонії з природою,
         а використання новітніх технологій дозволить поєднати практичність житла, його ергономічність з екологічною
         чистотою. ПРАВИЛЬНО ОБРАНЕ РОЗТАШУВАННЯ ЗАПОРУКА УСПІХУ!
         - Затишний внутрішній двір без автомобілів що дасть більше вільного простору для зон відпочинку та чисте
         повітря. Дихайте свіжим повітрям і залишайтеся здоровими</p>
      <img src="@img/Advantages/full_lis.jpg" alt="Image">
   </div>
   <div class="wrapper">
      <h3>Загальний комфорт</h3>
      <p>Продуманий, комфортний внутрішній простір: дитячі майданчики, спортивні та ігрові майданчики, зони барбекю,
         колясочні та велосипедні кімнати, власні комірки. ВАШІ ДІТИ БУДУТЬ РОСТИ В СЕРЕДОВИЩІ, ЩО НАДИХАЄ ДО НОВИХ
         ЗВЕРШЕНЬ!
         Ми хочемо, щоб Ваші діти гуляли в тіні дерев, гралися на якісних майданчиках. Тому приділили особливу увагу
         озелененню території житлового комплексу «Заріччя», щоб створити органічний простір для дітей та для дорослих.
         У житловому комплексі Заріччя буде комфортно проводити сімейні вечори, відпочивати після бурхливих робочих днів
         та просто від мегаполісу, зустрічати ранок з чашкою гарячої кави та слухати музику прямуючи на спортивний
         майданчик.
         І таких моментів стане багато у Вашому житті, тому що ви самі станете частиною цього комплексу.</p>
      <img src="@img/Advantages/full_kids.jpg" alt="Image">
   </div>
   <div class="wrapper">
      <h3>Внутрішня інфраструктура</h3>
      <p>Житловий комплекс « Заріччя » - це унікальний проект, в якому детально спланована внутрішня інфраструктура ,
         необхідна для комфортного життя .Саме тому, ми подбали, щоб на території житлового комплексу були
         найнеобхідніші об’єкти інфраструктури такі як: маркет, салон краси, аптека, спортивний зал та інші. </p>
      <img src="@img/Advantages/full_cart.jpg" alt="Image">
   </div>
</div>