<section class="teaser" data-fls-teaser>
  <div class="teaser__container"><img class="teaser__image" src="@img/full_img/full_pRsfLtFA.jpg"
      alt="Майбутній вигляд будинку" width="1500" height="844" loading="lazy">
    <div class="teaser__content">
      <p class="eyebrow">ЖК ЗАРІЧЧЯ · БЕРЕЗАНЬ</p>
      <h2>Ближче до вашого<br>майбутнього дому</h2>
      <p>Гармонія міста, природи та комфортного життя у кожній деталі. Простір для тих, хто цінує спокій,
        затишок і зручність.</p><a class="button" href="building.html">Дізнатися більше ↗</a>
    </div>
  </div>
</section>
